body {
    color: #fff;
    background-color: #0f57dc;
}

.css-po3vlj {
    max-width: 80%
}

.css-1l4firl {
    max-width: 80%
}

.css-18e3th9 {
    width: 90%
}

.css-1rh8hwn {
    font-size: 20px
}
